### Retail Portfolio
__Author__: Toby Limanto

__Objective__: This notebook aims to analyse and visualise local retail portfolio condition in 2022 based on stock ownership data that is collected from KSEI. https://www.ksei.co.id/archive_download/holding_composition/2022

In [3]:
import pandas as pd

__Data Preprocessing__

Raw data that we get from KSEI can be seen as follows
```
Date|Code|Type|Sec. Num|Price|Local IS|Local CP|Local PF|Local IB|Local ID|Local MF|Local SC|Local FD|Local OT|Total|Foreign IS|Foreign CP|Foreign PF|Foreign IB|Foreign ID|Foreign MF|Foreign SC|Foreign FD|Foreign OT|Total
31-JAN-2022|AALI|EQUITY|1924688333|9900|88378271|15415145|13569998|49700|112448683|31738850|1278471|4138321|5078427|272095866|2356073|8716936|12240314|18338820|1368197|38014142|27063174|886123|9709948|118693727
```

The file contains stock ownership data on a given month. If we are looking at the year 2022, we see 12 files for each month. We will be mostly concerned with the following fields:
- Code: Stock ticker
- Price: Closing stock price at end of month
- Local ID: Number of shares owned by local retail investors

In [141]:
# load the documents
PREFIX = "data-kepemilikan-saham/Balancepos"
date = "20210226"
feb2021 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20210331"
mar2021 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20210430"
apr2021 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20210531"
may2021 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20210630"
jun2021 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20210730"
jul2021 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20210831"
aug2021 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20210930"
sep2021 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20211029"
oct2021 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20211130"
nov2021 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20211230"
dec2021 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20220131"
jan2022 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20220225"
feb2022 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20220331"
mar2022 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20220428"
apr2022 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20220531"
may2022 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20220630"
jun2022 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20220729"
jul2022 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20220831"
aug2022 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20220930"
sep2022 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20221031"
oct2022 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20221130"
nov2022 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")
date = "20221230"
dec2022 = pd.read_csv(f"{PREFIX}{date}.txt", sep="|")




# we are only concerned with equity asse
feb2021 = feb2021[feb2021["Type"] == "EQUITY"]
mar2021 = mar2021[mar2021["Type"] == "EQUITY"]
apr2021 = apr2021[apr2021["Type"] == "EQUITY"]
may2021 = may2021[may2021["Type"] == "EQUITY"]
jun2021 = jun2021[jun2021["Type"] == "EQUITY"]
jul2021 = jul2021[jul2021["Type"] == "EQUITY"]
aug2021 = aug2021[aug2021["Type"] == "EQUITY"]
sep2021 = sep2021[sep2021["Type"] == "EQUITY"]
oct2021 = oct2021[oct2021["Type"] == "EQUITY"]
nov2021 = nov2021[nov2021["Type"] == "EQUITY"]
dec2021 = dec2021[dec2021["Type"] == "EQUITY"]

jan2022 = jan2022[jan2022["Type"] == "EQUITY"]
feb2022 = feb2022[feb2022["Type"] == "EQUITY"]
mar2022 = mar2022[mar2022["Type"] == "EQUITY"]
apr2022 = apr2022[apr2022["Type"] == "EQUITY"]
may2022 = may2022[may2022["Type"] == "EQUITY"]
jun2022 = jun2022[jun2022["Type"] == "EQUITY"]
jul2022 = jul2022[jul2022["Type"] == "EQUITY"]
aug2022 = aug2022[aug2022["Type"] == "EQUITY"]
sep2022 = sep2022[sep2022["Type"] == "EQUITY"]
oct2022 = oct2022[oct2022["Type"] == "EQUITY"]
nov2022 = nov2022[nov2022["Type"] == "EQUITY"]
dec2022 = dec2022[dec2022["Type"] == "EQUITY"]

In [142]:
def amount(row):
    return row["Price"] * row["Local ID"] / 1e9

In [143]:
def add_amount(df):
    df["Amount (Rp Bio)"] = df.apply(amount, axis=1)
    return df.sort_values(by="Amount (Rp Bio)", ascending=False)[["Code", "Price", "Local ID", "Amount (Rp Bio)"]]

In [144]:
add_amount(feb2021).head(n=10)

     Code  Price     Local ID  Amount (Rp Bio)
236  EMTK   2110  36203024470     76388.381632
154  BYAN  13500   2223123219     30012.163456
137  BRPT   1100  26330894527     28963.983980
75   BBCA  33550    803273661     26949.831327
197  DCII  12225   2027627100     24787.741298
215  DNET   3210   3605459131     11573.523811
703  TPIA   9750   1059064541     10325.879275
35   ANTM   2840   3368943516      9567.799585
447  MDKA   2830   3322535564      9402.775646
49   ARTO  10000    914509585      9145.095850

### Data Processing Part 1 (Naive)

For each month, we sum the amount of investments to get total investments. We print the summation into a list and observe the trend

In [145]:
l = [feb2021, mar2021, apr2021, may2021, jun2021, jul2021, aug2021, sep2021, oct2021, nov2021, dec2021, 
     jan2022, feb2022, mar2022, apr2022, may2022, jun2022, jul2022, aug2022, sep2022, oct2022, nov2022, dec2022]

In [147]:
monthly_investment_sum = []
for item in l:
    s = add_amount(item)["Amount (Rp Bio)"].sum()
    monthly_investment_sum.append(s)

In [148]:
monthly_investment_sum

[561587.5008954221,
 549746.327374742,
 569916.3763313611,
 584266.4777682811,
 592144.752160166,
 622118.8210745871,
 618872.64931186,
 637784.547811474,
 649768.166890739,
 666503.5642993579,
 687932.0483769489,
 695238.7195091002,
 718098.347314852,
 762451.783167713,
 803715.518210612,
 793125.846196156,
 791157.1093279481,
 811759.611500917,
 808153.501185911,
 784995.852210164,
 816847.572284159,
 858062.778591194,
 1124245.4873289089]

### Data Processing Part 2 (Detect Top Up / Withdraws)

For each month, we identify topups and withdrawal for stocks by comparing it to the previous month.

In [137]:
def topup_withdraw(df1, df2):
    # create a dictionary of stock (key) to number of shares owned by retails (value)
    df1_dict = dict(zip(list(add_amount(df1)["Code"]), list(add_amount(df1)["Local ID"])))
    df2_dict = dict(zip(list(add_amount(df2)["Code"]), list(add_amount(df2)["Local ID"])))
    
    # TODO: identify all the stocks in df
    topup = 0
    stock_codes = list(df2["Code"])
    for s in stock_codes:
        df1_num_shares = df1_dict.get(s, 0)
        df2_num_shares = df2_dict.get(s, 0)
        diff = df2_num_shares - df1_num_shares
        if diff == 0:
            continue
        elif diff > 0:
            # there is topup
            # TODO: get share price of stock_code in df2
            price = df2[df2["Code"] == s]["Price"].iloc[0]
            topup += price * diff
            # print(f"Topup for share {s}: {price * diff}")
        else:
            # TODO: get share price of stock_code in df2  
            price = df2[df2["Code"] == s]["Price"].iloc[0]
            topup -= price * diff
            # print(f"Withdraw for share {s}: {price * diff}")
    return topup

In [149]:
periods = ["mar2021", "apr2021", "may2021", "jun2021", "jul2021", "aug2021", "sep2021", "oct2021", "nov2021", "dec2021",
           "jan2022","feb2022", "mar2022", "apr2022", "may2022", "jun2022", "jul2022", "aug2022", "sep2022", "oct2022", "nov2022", "dec2022"]
index = 0
topup_dict = {}
for item in l:
    if index + 1 == len(l):
        break
    period = periods[index]
    val = topup_withdraw(l[index], l[index+1])
    topup_dict[period] = val / 1e9
    index += 1

In [151]:
i = 0
index_val = 100
indices = [index_val]
for prev in monthly_investment_sum:
    if len(monthly_investment_sum) == i + 1:
        break
        
    period = periods[i]
    topup = topup_dict[period]
    curr = monthly_investment_sum[i+1]

    # (curr - prev + topup) / (prev + topup)
    pctg_increment = (curr - prev + topup) / (prev + topup)
    index_val += pctg_increment
    indices.append(index_val)
    
    i += 1

In [152]:
indices

[100,
 100.01463789823772,
 100.08611796230547,
 100.17446695287062,
 100.35939532519932,
 100.44609727350313,
 100.5026618274001,
 100.58140292362525,
 100.66909443588389,
 100.73971420147885,
 100.8095166275929,
 100.85838295280753,
 100.91327179658111,
 101.01590168526168,
 101.10623830790757,
 101.12062069848683,
 101.14963698139621,
 101.20422402600938,
 101.24238950882471,
 101.23794313487501,
 101.30844805773461,
 101.39057441749726,
 101.95584482992689]

### Comparing Retail Performance vs Indonesian Market Growth

Get idx growth data and compare it with retail performance

In [155]:
import yahoo_fin.stock_info as si

In [185]:
dates = [
    "2021-02-26",
"2021-03-31",
"2021-04-30",
"2021-05-31",
"2021-06-30",
"2021-07-30",
"2021-08-31",
"2021-09-30",
"2021-10-29",
"2021-11-30",
"2021-12-30",
"2022-01-31",
"2022-02-25",
"2022-03-31",
"2022-04-28",
"2022-05-31",
"2022-06-30",
"2022-07-29",
"2022-08-31",
"2022-09-30",
"2022-10-31",
"2022-11-30",
"2022-12-30"]

In [178]:
jkse = si.get_data("^JKSE")

In [186]:
jkse_prices = []
for d in dates:
    closing_price = jkse.loc[[d]]["close"].iloc[0]
    jkse_prices.append(closing_price)

In [199]:
jkse_growth = (jkse_prices[22] - jkse_prices[0])/jkse_prices[0]
print(jkse_growth)

0.09753975491891778

In [200]:
retail_growth = (indices[22] - indices[0])/indices[0]
print(retail_growth)

0.01955844829926889

### Closing Remarks

From this simple exercise, we have determined that growth of Indo index from early 2021 to end 2022 is _9.7%_ whereas the growth of retail investments is _1.9%_

Retail investors' performance is 5x worse than that of the index!